version: "3.8"

services:
  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    ports:
      - "1880:1880"
    volumes:
      - ./node-red/data:/data
    restart: unless-stopped
